body {
  background-color: #78c8eb;
  color: #fdffff;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
button {
  padding: 5px 20px;
  background-color: #2097ff;
  color: #000000;
  border-style: none;
  
}
input {
  height: 20px;
}